<!DOCTYPE html>
<title>Dice Roller</title>

{% include "header.html" %}

<body>
{% if not sign_in_recommended: %}
<div class="alert alert-dismissible fade show calculator-alert" role="alert">
    You aren't signed in! Without signing in, you won't be able to save your calculations.
    <a href="{{ url_for('sign_in') }}">Sign in</a>, or <a href="{{ url_for('sign_up') }}">Sign up</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="calculator-div">
    <h5 class="calculator-heading">Dice Roller</h5>

    <form method="POST" action="{{ url_for('dice_roller') }}" novalidate>
        {{ form.hidden_tag() }}

        <div class="calculator-label"><span>{{ form.sides.label }}</span></div>

        <input type="text" class="form-control border-primary"
               placeholder="Number of sides" aria-label="Number of sides"
               name="sides" value="{{ form.sides.data }}">

        {% if form.sides.errors %}
        {% for error in form.sides.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <button class="btn btn-primary calculator-submit" type="submit">Roll</button>

        <hr>

        {% if result: %}
        <h5 class="calculator-output limit">Result: {{ result }}</h5>
        {% endif %}

    </form>
</div>

<footer>
    <p>© {{year}} EveryCalc</p>
</footer>
</body>
