<!DOCTYPE html>
<title>Password Generator</title>

{% include "header.html" %}

<body>
<div class="calculator-div">
    <h5 class="calculator-heading">Password Generator</h5>

    <form method="POST" action="{{ url_for('password_generator') }}" novalidate>
        {{ form.hidden_tag() }}

        <div class="calculator-label"><span>{{ form.password_length.label }}</span></div>

        <input type="text" class="form-control border-primary"
               placeholder="Password length" aria-label="Password length"
               name="password_length" value="{{ form.password_length.data }}">

        {% if form.password_length.errors %}
        {% for error in form.password_length.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="checkbox-parent">
            {% if include_capital_letters: %}
            <input class="calculator-checkbox calculator-checkbox-top" name="include_capital_letters" type="checkbox" checked>
            {% else: %}
            <input class="calculator-checkbox calculator-checkbox-top" name="include_capital_letters" type="checkbox">
            {% endif %}
            <div class="checkbox-label"><span>{{ form.include_capital_letters.label }}</span></div>
        </div>

        <div class="checkbox-parent">
            {% if include_numbers: %}
            <input class="calculator-checkbox" name="include_numbers" type="checkbox" checked>
            {% else: %}
            <input class="calculator-checkbox" name="include_numbers" type="checkbox">
            {% endif %}
            <div class="checkbox-label"><span>{{ form.include_numbers.label }}</span></div>
        </div>

        <div class="checkbox-parent">
            {% if include_special_characters: %}
            <input class="calculator-checkbox" name="include_special_characters" type="checkbox" checked>
            {% else: %}
            <input class="calculator-checkbox" name="include_special_characters" type="checkbox">
            {% endif %}
            <div class="checkbox-label"><span>{{ form.include_special_characters.label }}</span></div>
        </div>

        <button class="btn btn-primary calculator-submit" type="submit">Generate</button>

        {% if password: %}
        <h5 class="calculator-output limit"><span id="hash">{{ password }}</span></h5>
        <button type="button" id="copy-hash-btn" class="btn btn-outline-primary post-output-btn">Copy</button>
        {% endif %}
    </form>

    <h6 class="condition">*For security, the passwords generated will not be saved</h6>
</div>

<footer>
    <p>© {{year}} EveryCalc</p>
</footer>

<script>
    copyBtn = document.querySelector('#copy-hash-btn');
    copyBtn.addEventListener('click', function() {
        let hashText = hash.innerText;
        let inputElement = document.createElement('input');
        inputElement.setAttribute('value', hashText);
        document.body.appendChild(inputElement);
        inputElement.select();
        document.execCommand('copy');
        inputElement.parentNode.removeChild(inputElement);
    });
</script>
</body>
