<!DOCTYPE html>
<title>ROI Calculator</title>

{% include "header.html" %}

<body>
{% if not sign_in_recommended: %}
<div class="alert alert-dismissible fade show calculator-alert" role="alert">
    You aren't signed in! Without signing in, you won't be able to save your calculations.
    <a href="{{ url_for('sign_in') }}">Sign in</a>, or <a href="{{ url_for('sign_up') }}">Sign up</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="calculator-div">
    <h5 class="calculator-heading">Return on Investment (ROI) Calculator</h5>

    <form method="POST" action="{{ url_for('roi_calculator') }}" novalidate>
        {{ form.hidden_tag() }}

        <div class="calculator-label"><span>{{ form.initial_value.label }}</span></div>

        <input type="text" class="form-control border-primary"
               placeholder="Initial value" aria-label="Initial value"
               name="initial_value" value="{{ form.initial_value.data }}">

        {% if form.initial_value.errors %}
        {% for error in form.initial_value.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="calculator-label"><span>{{ form.final_value.label }}</span></div>

        <input type="text" class="form-control border-primary"
               placeholder="Final value" aria-label="Final value"
               name="final_value" value="{{ form.final_value.data }}">

        {% if form.final_value.errors %}
        {% for error in form.final_value.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <div class="calculator-label"><span>{{ form.cost.label }}</span></div>

        <input type="text" class="form-control border-primary"
               placeholder="Cost of investment" aria-label="Cost"
               name="cost" value="{{ form.cost.data }}">

        {% if form.cost.errors %}
        {% for error in form.cost.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}

        <button class="btn btn-primary calculator-submit" type="submit">Calculate</button>

        <hr>

        {% if roi: %}
        <h5 class="calculator-output limit">Return on investment: {{ roi }}%</h5>
        {% endif %}
    </form>
</div>

<footer>
    <p>© {{year}} EveryCalc</p>
</footer>
</body>
